<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id" content="109959458868-bmqa4f8763eggn12gle677r7rqp7vlai.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Addme | <%=title%></title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Addme</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--main page-->
<section class="AddMe d-flex align-items-center">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col">
                <span>Messenger from Kazakhstan</span>
                <h1>Welcome to the AddMe!!!</h1>
                <p>A messenger where you can comfortably send messages to friends or family. AddMe messenger where we can correspond I don't worry that someone is reading your correspondence</p>
            </div>
            <div class="col">

                <img src="img/main-photo.svg" class="float-end main-page-img">

            </div>
        </div>
    </div>
</section>
<section class="about">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="about-box">
                    <img src="img/1.png" alt="">
                    <h3 class="mt-20">Convenience</h3>
                    <p class="mt-10">Simple, intuitive interface</p>
                </div>
            </div>
            <div class="col">
                <div class="about-box">
                    <img src="img/2.png" alt="">
                    <h3 class="mt-20">Freedom of speech</h3>
                    <p class="mt-10">AddMe gives you the opportunity to communicate your thoughts freely</p>
                </div>
            </div>
            <div class="col">
                <div class="about-box">
                    <img src="img/3.png" alt="">
                    <h3 class="mt-20">No ads</h3>
                    <p class="mt-10">During your chats you will not be distracted by annoying ads</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- main page 3 -->
<section class="on">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-7">
                <img class="mailPhoto" src="img/mail.svg">
            </div>
            <div class="col-5">
                <img class="img4" src="img/4.png"  alt="">
                <h2 class="mt-10 mainh2">What is AdMe?</h2>
                <p class="mt-20">This messenger is made by young Kazakh developers at Astana IT University. This product was created so that, regardless of the circumstances in the world, we could at least write to our relatives and friends</p>
                <a href="#" class="more-btn">Read More<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg></a>
            </div>
        </div>
    </div>
</section>


<!-- footer -->
<footer class=" pb-3 pl-4 likbez-footer">
    <div class="container  text-md-left row">
        <div class="text-center text-md-left"></div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-blue"><div id="nav_logo_footer"></div> <!--наш логотип--></h5><!--company name-->


        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-blue ">links</h5>
            <p>
                <a href="#" class="footer-links" style="text-decoration: none; ">Home</a>
            </p>
            <p>
                <a href="#" class="footer-links" style="text-decoration: none; ">About Us</a>
            </p>
            <p>
                <a href="#" class="footer-links" style="text-decoration: none; ">Programs</a>
            </p>
            <p>
                <a href="#" class="footer-links" style="text-decoration: none; ">Contacts</a>
            </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-blue " >Developers</h5>
            <p>
                <a href="#" class="footer-links" style="text-decoration: none; ">Adilet A.</a>
            </p>

            <p>
                <a href="#" class="footer-links" style="text-decoration: none; ">Merey Z.</a>
            </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-blue ">Office</h5>
            <p>
                <i class="fas fa-home mr-3 "></i>Kazakhstan, Nur-Sultan
            </p>
            <p>
                <i class="fas fa-envelope mr-3"></i>AdMe@gmail.com
            </p>
            <p>
                <i class="fas fa-phone mr-3"></i>Номер телефона, анау-мынау
            </p>
            <p>
                <i class="fas fa-circle-dollar mr-3"></i>Donate 5356 5020 0901 5318 :D
            </p>
        </div>
    </div>
    <div class="mb-5"></div>

    <div class="text-center text-md-right adaptive-part">
        <ul class="list-unstyled list-inline footer-icons">
            <li class="list-inline-item ">
                <a href="#" class="btn-floating btn-sm text-bluee " style="font-size:23px;" ><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-bluee " style="font-size:23px;" ><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-bluee " style="font-size:23px;" ><i class="fab fa-youtube"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-bluee " style="font-size:23px;" ><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item ">
                <a href="#" class="btn-floating btn-sm text-bluee " style="font-size:23px;" ><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bb693eaf4e.js" crossorigin="anonymous"></script>
</body>
</html><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bb693eaf4e.js" crossorigin="anonymous"></script>
</body>
</html>